body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  background: linear-gradient(-45deg, #001220, #FF6600, #002B50, #FFB366, #004080, #FF8000, #0066CC, #000000, #66A3FF);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  color: white;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.stopWatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: white;
}

.display {
  font-family: monospace;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 25px;
  text-shadow: 3px 3px 10px #000000, 0 0 20px #0066CC;
}

.controls button {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease, transform 0.2s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.controls .start {
  background: linear-gradient(145deg, #28a745, #218838);
  box-shadow: 0 0 10px #28a745, inset 0 0 5px #28a745;
}

.controls .stop {
  background: linear-gradient(145deg, #dc3545, #c82333);
  box-shadow: 0 0 10px #dc3545, inset 0 0 5px #dc3545;
}

.controls .reset {
  background: linear-gradient(145deg, #0066cc, #004080);
  box-shadow: 0 0 10px #0066cc, inset 0 0 5px #0066cc;
}

.controls button:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

@media (max-width: 600px) {
  .controls button {
    font-size: 1rem;
    padding: 8px 16px;
    min-width: 100px;
  }

  .display {
    font-size: 3rem;
  }
}